# ----------------------------------------
# Application dependencies
# ----------------------------------------

/node_modules/
/vendor/

# ----------------------------------------
# Application files and folders
# ----------------------------------------

/.cache/
/cache/
/public/build/

# ----------------------------------------
# User generated data and files
# ----------------------------------------

/.env
/customizations.html
