/.idea
/.vagrant
/.vscode
/nbproject
/node_modules
/public/css/*
/public/hot
/public/js/*
/public/mix-manifest.json
/public/storage
/storage/*.key
/vendor
_ide_helper_models.php
_ide_helper.php
.env
.npmrc
.php-cs-fixer.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
