/node_modules
/public/build/*
/public/storage
/public/hot
/storage/*.key
/vendor
_ide_helper_models.php
_ide_helper.php
.env
.env.*
.npmrc
.php-cs-fixer.cache
.phpunit.cache
.phpunit.result.cache
docker-compose.override.yaml
npm-debug.log
