parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\$query of method App\\\\Nova\\\\Resource\\:\\:scoutQuery\\(\\) has invalid typehint type Laravel\\\\Scout\\\\Builder\\.$#"
			count: 1
			path: app/Nova/Resource.php

		-
			message: "#^Return typehint of method App\\\\Nova\\\\Resource\\:\\:scoutQuery\\(\\) has invalid type Laravel\\\\Scout\\\\Builder\\.$#"
			count: 1
			path: app/Nova/Resource.php

