parameters:
  level: max
  paths: [app, config, tests]

  tmpDir: .cache/phpstan

  checkFunctionNameCase: true
  treatPhpDocTypesAsCertain: false

  exceptions:
    implicitThrows: false

    check:
      missingCheckedExceptionInThrows: true
      tooWideThrowType: true

    uncheckedExceptionClasses:
      - DI\DependencyException
      - DI\NotFoundException
      - InvalidArgumentException
      - Invoker\Exception\InvocationException
      - JsonException
      - League\CommonMark\Exception\AlreadyInitializedException
      - PHPUnit\Framework\MockObject\Exception
      - Psr\Cache\InvalidArgumentException
      - RuntimeException
      - Twig\Error\Error

includes:
  - vendor/zorac/phpstan-php-di/extension.neon
  - phpstan-baseline.neon
