includes:
    - vendor/nunomaduro/larastan/extension.neon
    - phpstan-baseline.neon

parameters:

    paths:
        - app
        - config
        - database
        - routes
        - tests

    level: 6 # 0 - 8 (higher = more strict)

    ignoreErrors:
        - '/^Call to an undefined method Faker\\Generator::[A-Za-z]+\(\)\.$/'
        - '/^Call to an undefined method Faker\\UniqueGenerator::[A-Za-z]+\(\)\.$/'
        - '/^Access to an undefined property Faker\\UniqueGenerator::\$[A-Za-z]+\.$/'
        - '/^Access to an undefined property Spatie\\YamlFrontMatter\\Document::\$[a-z_]+.$/'

    checkAlwaysTrueCheckTypeFunctionCall: true
    checkAlwaysTrueInstanceof: true
    checkAlwaysTrueStrictComparison: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    # checkMissingClosureNativeReturnTypehintRule: true
    checkMissingIterableValueType: false
    checkModelProperties: true
    # checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true

    reportUnmatchedIgnoredErrors: false

    exceptions:
      implicitThrows: false

      check:
        missingCheckedExceptionInThrows: true
        tooWideThrowType: true

      uncheckedExceptionRegexes:
      - '/^GuzzleHttp\\Exception\\GuzzleException$/'

      uncheckedExceptionClasses:
        - 'InvalidArgumentException'
        - 'LogicException'
        - 'Illuminate\Contracts\Container\BindingResolutionException'
        - 'Symfony\Component\HttpKernel\Exception\HttpException'
        - 'Symfony\Component\Yaml\Exception\ParseException'
        - 'PHPUnit\Framework\Exception'
