includes:
    - vendor/nunomaduro/larastan/extension.neon
    - phpstan-baseline.neon

parameters:

    paths:
        - app
        - config
        - database
        - routes
        - tests

    level: 5 # 0 - 8 (higher = more strict)

    ignoreErrors:
        - '/^Call to an undefined method Faker\\Generator::[A-Za-z]+\(\)\.$/'
        - '/^Access to an undefined property Spatie\\YamlFrontMatter\\Document::\$[a-z_]+.$/'

    checkAlwaysTrueCheckTypeFunctionCall: true
    checkAlwaysTrueInstanceof: true
    checkAlwaysTrueStrictComparison: true
    checkExplicitMixedMissingReturn: true
    checkFunctionNameCase: true
    # checkMissingClosureNativeReturnTypehintRule: true
    checkMissingIterableValueType: false
    checkModelProperties: true
    # checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true

    reportUnmatchedIgnoredErrors: false
