openapi: 3.0.0

servers:
  - url: https://chriskankiewicz.com/api

info:
  title: Chris's Resume as a Service
  description: Chris Kankiewicz's Resume as a Service.
  version: 0.1.0
  license:
    name: MIT
    url: https://choosealicense.com/licenses/mit/
  contact:
    name: API Support
    email: Chris@ChrisKankiewicz.com
    url: https://github.com/PHLAK/chriskankiewicz.com

tags:
  - name: Education
    description: Schools attended and degrees earned.
  - name: Experience
    description: Chris's work history.
  - name: Projects
    description: Personal and professional projects.
  - name: Skills
    description: Skills and areas of knowledge.

paths:
  /education:
    get:
      summary: List Education
      description: Returns a list of all education.
      tags:
        - Education
      responses:
        '200':
          description: A list of education
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: '#/components/properties/id'
                    - $ref: '#/components/schemas/Education'
                    - $ref: '#/components/properties/timestamps'

    post:
      summary: Create Education
      description: Creates a new experience.
      tags:
        - Education
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Education'
      responses:
        '201':
          description: The created education
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/properties/id'
                  - $ref: '#/components/schemas/Education'
                  - $ref: '#/components/properties/timestamps'
        '422':
          $ref: '#/components/responses/422'

  /education/{id}:
    get:
      summary: Fetch Education
      description: Returns a single education.
      tags:
        - Education
      parameters:
        - in: query
          name: id
          schema:
            type: integer
            example: 1337
      responses:
        '200':
          description: A single education
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/properties/id'
                  - $ref: '#/components/schemas/Education'
                  - $ref: '#/components/properties/timestamps'

        '404':
          $ref: '#/components/responses/404'

    patch:
      summary: Update Education
      description: Update an education.
      tags:
        - Education
      parameters:
        - in: query
          name: id
          schema:
            type: integer
            example: 1337
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Education'
      responses:
        '200':
          description: The updated education
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/properties/id'
                  - $ref: '#/components/schemas/Education'
                  - $ref: '#/components/properties/timestamps'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'

    delete:
      summary: Delete Education
      description: Delete an education.
      tags:
        - Education
      parameters:
        - in: query
          name: id
          schema:
            type: integer
            example: 1337
      responses:
        '204':
          description: No Content
        '404':
          $ref: '#/components/responses/404'

  /experience:
    get:
      summary: List Experiences
      description: Returns a list of all experiences.
      tags:
        - Experience
      responses:
        '200':
          description: A list of experiences
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: '#/components/properties/id'
                    - $ref: '#/components/schemas/Experience'
                    - $ref: '#/components/properties/timestamps'

    post:
      summary: Create Experience
      description: Creates a new experience.
      tags:
        - Experience
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Experience'
      responses:
        '201':
          description: The created experience
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/properties/id'
                  - $ref: '#/components/schemas/Experience'
                  - $ref: '#/components/properties/timestamps'
        '422':
          $ref: '#/components/responses/422'

  /experience/{id}:
    get:
      summary: Fetch Experience
      description: Returns a single experience.
      tags:
        - Experience
      parameters:
        - in: query
          name: id
          schema:
            type: integer
            example: 1337
      responses:
        '200':
          description: A single experience
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/properties/id'
                  - $ref: '#/components/schemas/Experience'
                  - $ref: '#/components/properties/timestamps'
        '404':
          $ref: '#/components/responses/404'

    patch:
      summary: Update Experience
      description: Update an experience.
      tags:
        - Experience
      parameters:
        - in: query
          name: id
          schema:
            type: integer
            example: 1337
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Experience'
      responses:
        '200':
          description: The updated experience
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/properties/id'
                  - $ref: '#/components/schemas/Experience'
                  - $ref: '#/components/properties/timestamps'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'

    delete:
      summary: Delete Experience
      description: Delete an experience.
      tags:
        - Experience
      parameters:
        - in: query
          name: id
          schema:
            type: integer
            example: 1337
      responses:
        '204':
          description: No Content
        '404':
          $ref: '#/components/responses/404'

  /project:
    get:
      summary: List Projects
      description: Returns a list of all projects.
      tags:
        - Projects
      responses:
        '200':
          description: A list of projects
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: '#/components/properties/id'
                    - $ref: '#/components/schemas/Project'
                    - $ref: '#/components/properties/timestamps'

    post:
      summary: Create Project
      description: Creates a new project.
      tags:
        - Projects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
      responses:
        '201':
          description: The created project
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/properties/id'
                  - $ref: '#/components/schemas/Project'
                  - $ref: '#/components/properties/timestamps'
        '422':
          $ref: '#/components/responses/422'

  /project/{id}:
    get:
      summary: Fetch Project
      description: Returns a single project.
      tags:
        - Projects
      parameters:
        - in: query
          name: id
          schema:
            type: integer
            example: 1337
      responses:
        '200':
          description: A single project
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/properties/id'
                  - $ref: '#/components/schemas/Project'
                  - $ref: '#/components/properties/timestamps'
        '404':
          $ref: '#/components/responses/404'

    patch:
      summary: Update Project
      description: Update a project.
      tags:
        - Projects
      parameters:
        - in: query
          name: id
          schema:
            type: integer
            example: 1337
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
      responses:
        '200':
          description: The updated project
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/properties/id'
                  - $ref: '#/components/schemas/Project'
                  - $ref: '#/components/properties/timestamps'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'

    delete:
      summary: Delete Project
      description: Delete a project.
      tags:
        - Projects
      parameters:
        - in: query
          name: id
          schema:
            type: integer
            example: 1337
      responses:
        '204':
          description: No Content
        '404':
          $ref: '#/components/responses/404'

  /skill:
    get:
      summary: List Skills
      description: Returns a list of all skills.
      tags:
        - Skills
      responses:
        '200':
          description: A list of skills
          content:
            application/json:
              schema:
                type: array
                items:
                  allOf:
                    - $ref: '#/components/properties/id'
                    - $ref: '#/components/schemas/Skill'
                    - $ref: '#/components/properties/timestamps'

    post:
      summary: Create Skill
      description: Creates a new skill.
      tags:
        - Skills
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Skill'
      responses:
        '201':
          description: The created skill
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/properties/id'
                  - $ref: '#/components/schemas/Skill'
                  - $ref: '#/components/properties/timestamps'
        '422':
          $ref: '#/components/responses/422'

  /skill/{id}:
    get:
      summary: Fetch Skill
      description: Returns a single skill.
      tags:
        - Skills
      parameters:
        - in: query
          name: id
          schema:
            type: integer
            example: 1337
      responses:
        '200':
          description: A single skill
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/properties/id'
                  - $ref: '#/components/schemas/Skill'
                  - $ref: '#/components/properties/timestamps'

        '404':
          $ref: '#/components/responses/404'

    patch:
      summary: Update Skill
      description: Updates a skill.
      tags:
        - Skills
      parameters:
        - in: query
          name: id
          schema:
            type: integer
            example: 1337
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Skill'
      responses:
        '200':
          description: The updated skill
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/properties/id'
                  - $ref: '#/components/schemas/Skill'
                  - $ref: '#/components/properties/timestamps'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'

    delete:
      summary: Delete Skill
      description: Deletes a skill.
      tags:
        - Skills
      parameters:
        - in: query
          name: id
          schema:
            type: integer
            example: 1337
      responses:
        '204':
          description: No Content
        '404':
          $ref: '#/components/responses/404'

components:
  schemas:
    Education:
      type: object
      properties:
        institution:
          type: string
        degree:
          type: string
        start_date:
          type: string
        end_date:
          type: string
        currently_enrolled:
          type: boolean
      example:
        company: Hogwarts School of Witchcraft and Wizardry
        title: Care of Magical Creatures
        start_date: '1986-05-20 00:00:00'
        end_date: '1986-07-06 00:00:00'
        currently_enrolled: false
      required:
        - institution
        - degree
        - start_date
        - currently_enrolled

    Experience:
      type: object
      properties:
        company:
          type: string
        title:
          type: string
        start_date:
          type: string
        end_date:
          type: string
        current_position:
          type: boolean
        location:
          type: string
      example:
        company: Pied Piper
        title: Data Janitor
        start_date: '1986-05-20 00:00:00'
        end_date: '1986-07-06 00:00:00'
        current_position: false
        location: San Francisco, California
      required:
        - company
        - title
        - start_date
        - current_position
        - location

    Project:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        project_url:
          type: string
        source_url:
          type: string
      example:
        name: Death Star
        description: That's no moon!
        project_url: https://en.wikipedia.org/wiki/Death_star
        source_url: https://github.com/PHLAK/death-star
      required:
        - name

    Skill:
      type: object
      properties:
        name:
          type: string
      example:
        name: Pickpocketing
      required:
        - name

  responses:
    '404':
      description: Not Found
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
            example:
              message: No query results for model

    '422':
      description: Unprocessable Entity
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
              errors:
                type: array
            example:
              message: The given data was invalid.
  properties:
    id:
      type: object
      properties:
        id:
          type: integer
      example:
        id: 1337

    timestamps:
      type: object
      properties:
        created_at:
          type: string
        updated_at:
          type: string
      example:
        created_at: '1986-05-20 00:00:00'
        updated_at: '1986-07-06 00:00:00'
