<div id="footer">
    <div class="container flex flex-col gap-2 text-center text-sm py-6 text-zinc-500">
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" title="Creative Commons (Attribution-NonCommercial-ShareAlike)" class="flex justify-center items-center">
            {{ svg('brands/creative-commons', ['cc-icon']) }}

            {{ svg('brands/creative-commons-by', ['cc-icon']) }}

            {{ svg('brands/creative-commons-nc', ['cc-icon']) }}

            {{ svg('brands/creative-commons-sa', ['cc-icon']) }}
        </a>

        <a href="https://github.com/PHLAK/chriskankiewicz.com" class="inline-block hover:underline">View Source</a>
    </div>
</div>
