<div id="navigation" class="bg-white border-b border-zinc-200 w-full">
    <div class="container flex justify-center items-center gap-2 font-medium px-4 py-2 sm:gap-4">
        <a href="#projects" class="nav-link">Projects</a>

        <a href="#blog" class="nav-link"> Blog</a>

        <a href="https://resume.chriskankiewicz.com" class="nav-link flex items-center gap-1">
            Resume {{ svg('regular/arrow-up-right-from-square', ['text-zinc-400', 'fill-current', 'size-4']) }}
        </a>
    </div>
</div>
