@import "tailwindcss";

@font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat.woff2") format("woff2");
}

@font-face {
    font-family: "Source Code Pro";
    src: url("/fonts/SourceCodePro.woff2") format("woff2");
}

@theme {
    --font-sans: Montserrat;
    --font-mono: Source Code Pro;
}

.container {
    @apply w-full max-w-6xl mx-auto px-4;
}

.nav-link {
    @apply rounded-lg px-4 py-2 hover:bg-zinc-100;
}

.user-tag {
    @apply bg-slate-200/75 rounded-lg shadow-sm font-medium text-sm p-2 sm:text-base sm:px-4;
}

.social-link {
    @apply transition-all hover:scale-125;
}

.social-icon {
    @apply drop-shadow-sm fill-current size-10 md:size-12;
}

.project-card {
    @apply bg-white rounded-xl text-zinc-800 p-6 transition-all hover:scale-105;
}

.blog-card {
    @apply bg-white rounded-xl text-zinc-800 p-6 transition-all hover:scale-105;
}

.cc-icon {
    @apply fill-current size-8;
}

.video {
    @apply aspect-video w-full;
}
