/* Converted from markdown.scss */

.markdown p {
    @apply leading-8 my-4;
}

.markdown blockquote {
    @apply border-l-4 border-gray-200 pl-2 ml-2;
}

.markdown a {
    @apply underline;
}

.markdown a:hover {
    @apply text-gray-600;
}

.markdown h1 {
    @apply text-3xl font-lato font-bold mb-4;
}

.markdown h2 {
    @apply text-2xl font-lato font-bold mb-4;
}

.markdown h3 {
    @apply text-lg font-lato font-bold mb-4;
}

.markdown h4 {
    @apply text-base font-lato mb-4;
}

.markdown img {
    @apply max-w-full border border-gray-800 shadow-solid-gray-800;
}

.markdown hr {
    @apply my-4;
}

.markdown code {
    @apply bg-gray-100 rounded p-1;
}

.markdown pre {
    @apply block border-2 border-gray-800 shadow-solid-gray-800 max-w-full my-4;
}

.markdown pre code {
    @apply block max-w-full overflow-x-auto whitespace-pre rounded-none p-6;
}

.markdown ol {
    @apply list-decimal;
}

.markdown ol li {
    @apply ml-8 mb-2;
}

.markdown ul {
    @apply list-disc;
}

.markdown ul li {
    @apply ml-8 mb-2;
}

.markdown .note,
.markdown .info,
.markdown .warning,
.markdown .danger {
    @apply relative border-l-4 leading-8 my-4 p-6 pl-16;
}

.markdown .note:before,
.markdown .info:before,
.markdown .warning:before,
.markdown .danger:before {
    @apply absolute top-0 left-0 text-xl leading-8 py-6 pl-6;
}

.markdown .note > *:first-child,
.markdown .info > *:first-child,
.markdown .warning > *:first-child,
.markdown .danger > *:first-child {
    @apply mt-0;
}

.markdown .note > *:last-child,
.markdown .info > *:last-child,
.markdown .warning > *:last-child,
.markdown .danger > *:last-child {
    @apply mb-0;
}

.markdown .note {
    @apply bg-gray-50 border-gray-400;
}

.markdown .note:before {
    content: "🗒️";
}

.markdown .info {
    @apply bg-blue-50 border-blue-400;
}

.markdown .info:before {
    content: "ℹ️";
}

.markdown .warning {
    @apply bg-yellow-50 border-yellow-400;
}

.markdown .warning:before {
    content: "⚠️";
}

.markdown .danger {
    @apply bg-red-50 border-red-400;
}

.markdown .danger:before {
    content: "⛔";
}

.markdown .video {
    @apply relative h-0 z-0;
    padding-bottom: 56.25%; /* 16:9 */
}

.markdown .video iframe {
    @apply absolute top-0 left-0 w-full h-full;
}
