:root {
    --background: #2f343e;
    --white: #fff;
    --gray: #66727d;
    --red: #b86367;
    --orange: #cb876c;
    --yellow: #ebca8a;
    --green: #a2bd8b;
    --blue: #8da0b1;
    --purple: #af8eac;
}


code[class*="language-"],
pre[class*="language-"] {
    background: var(--background);
    color: var(--white);
    direction: ltr;
    hyphens: none;
    line-height: 2;
    tab-size: 4;
    text-align: left;
    white-space: pre-line;
    word-spacing: normal;
    word-break: normal;
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
    background: var(--white);
    color: var(--red);
}

/* Code blocks */
pre[class*="language-"] {
    overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: var(--gray);
}

.token.attr-value {
    color: var(--white);
}

.token.function {
    color: var(--blue);
}

.token.class-name,
.token.scope {
    color: var(--yellow);
}

.token.punctuation {
    color: var(--white);
}

.token.namespace {
    opacity: 0.7;
}

.token.operator {
    color: var(--white);
}
.token.boolean,
.token.number {
    color: var(--orange);
}

.token.tag {
    color: var(--blue);
}

.token.string {
    color: var(--green);
}

.token.selector {
    color: var(--blue);
}

.token.constant {
    color: var(--purple);
}

.token.attr-name {
    color: var(--red);
}

.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: var(--green);
}

.token.keyword,
.token.control,
.token.directive,
.token.unit {
    color: var(--purple);
}

.token.statement,
.token.regex,
.token.atrule {
    color: var(--blue);
}

.token.placeholder,
.token.variable,
.token.property,
.token.this {
    color: var(--red);
}

.token.deleted {
    text-decoration: line-through;
}

.token.inserted {
    border-bottom: 1px dotted var(--white);
    text-decoration: none;
}

.token.italic {
    font-style: italic;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.important {
    color: var(--red);
}

.token.entity {
    cursor: help;
}

pre > code.highlight {
    outline: 0.4em solid var(--red);
    outline-offset: 0.4em;
}

.line-numbers .line-numbers-rows {
    border-right-color: var(--gray) !important;
}

.line-numbers-rows > span:before {
    color: var(--blue) !important;
}

.line-highlight {
    background: #393f4a !important;
    background: linear-gradient(
        to right,
        #393f4a 70%,
        rgba(239, 241, 245, 0)
    ) !important;
}
